h1 {
	color: #000000;
	background-color: #000000;
	font-family: 'Garmond';
	text-align: center;
	font-size: 42px;
}

body {
	background-color: #ffffff;
}

.header {
  background-color: #000000;
  padding: 30px;
}

h2 {
	color: #000000;
	font-family: 'Georgia';
	text-align: center;
	font-size: 30px;
}

h3 {
	color: #534c4e;
	font-family: 'Georgia';
	text-align: center;
	font-size: 25px;
}

h4 {
	color: #000000;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 20px;
}

h5 {
	color: #000000;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}

h6 {
	color: #534c4e;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}