h1 {
	font-family: 'Lucida Handwriting';
	text-align: center;
	font-size: 66px;
}

p {
	font-size: 30px;
	text-align: left;
	padding-left: 25px;
	padding-top: 0px;
}

del {
	color: black;
}

body {
	background-color: #cdbdc3;
}

.header {
  background-color: #000000;
  color: #FFFFFF;
  padding: 30px;
}

.subheader {
  background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #121012, #534c4e);
  color: #FFFFFF;
  padding: 1px;
}

h2 {
	color: #000000;
	font-family: 'Lucida Handwriting';
	text-align: left;
	font-size: 45px;
}

h3 {
	color: #534c4e;
	font-family: 'Georgia';
	text-align: center;
	font-size: 25px;
}

h4 {
	color: #000000;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 20px;
}

h5 {
	color: #000000;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}

h6 {
	color: #534c4e;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}
